<div class="container-fluid">

  <div *ngIf="loadAdverts">

      <div class="row justify-content-center mt-2">
          <div class="col-sm-8 col-xl-4">
      
            <div class="card">
              <div class="card-header">
               <h4 class="text-center">Jobs</h4> 
              </div>
              <div class="card-body justify-content-center">
                <form class="form-inline">
                  <div class="form-group w-100">
                    <input type="text" class="form-control w-100" [(ngModel)]="query" name="query" placeholder="Search Jobs">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

    <div *ngFor="let a of loadAdverts.Job | advertFilter:query">
      <div class="row justify-content-center mt-2">
        <div class="col-sm-8 col-xl-4">
          <div class="card">            
            <div class="card-body">
              <h4 class="card-title"><a href="{{a.Apply.Url}}" target="_blank" class="{{company}} card-link">{{a.Title}}</a></h4>
              <span class="card-text font-weight-bold">{{a.Classifications.Classification[2].Text}} </span> -
              <span class="card-text d-inline">{{a.Classifications.Classification[3].Text}} </span>
              <br>
              <span class="card-text font-weight-bold">{{a.Classifications.Classification[0].Text}} </span> -
              <span class="card-text">{{a.Classifications.Classification[1].Text}} </span>

              <ul class="mt-4">
                <li *ngFor="let b of a.BulletPoints.BulletPoint">
                  {{b}}
                </li>
              </ul>

              <p class="card-text">{{a.Summary}}</p>
              <!-- <a href="{{a.Apply.Url}}" target="_blank" class="{{company}} card-link btn btn-primary">Apply</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf ="!loadAdverts" class="row justify-content-center mt-2">
    <div class="col-sm-8 col-xl-2">
      <div class="jumbotron">
        <h4 class="display-5">{{errorMesage}}</h4>        
      </div>
    </div>
  </div>
</div>